body {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #f1f1f1;
}
h1, #sig {
    font-family: 'Homemade Apple', cursive;
    font-size: 6vw;
    display: block;
    margin: auto;
    margin-top: 10%;

}
button, a{
    display: inline-block;
    margin: auto;
    background-color: transparent;
    color: #abc3ca;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;


}
#content {
    background-color: antiquewhite;
    border-radius: 20px;
    min-height: 500px;
}
#nav {
    margin-left:25%;
    margin-bottom: 3vw;
}
#sig {
    width: 50%;
    margin-left: 25%;

}
#mahFace {
    width: 95%;
    padding: 10px;
    opacity: .75;
    border-radius: 20px;
}
.webImg {
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
}
