<div class="container" >
    <div class="row">
        <div class="col-7">
            <img src="https://www.fillmurray.com/g/400/400" alt="face" id="mahFace">
        </div>
        <div class="col-5">
            <h2>Hellooo..</h2>
            <p>
                I'm a human. I try to do things. 
            </p>
        </div>
    </div>
</div>