<DOCTYPE! html>
<html lang = "en-us">
<head>
    <meta charset="UTF-8"><title>Caitlin M-H</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" href="./style/reset.css">
    <link rel="stylesheet" type="text/css" href="./style/splash.css">

</head>

<body>
    <header class= "container" class="row justify-content-center">
        {{!-- <img src= "./images/sig1.gif" alt= "Caitlin M-H" id= "sig"  class="animated fadeInLeftBig slow"> --}}
        <h1 id="sig">Caitlin M-H</h1>
            <nav>          
            <a href="/about" class= "animated fadeInDown delay-2s" id="aboutButton">about</a>
            <a href="/portfolio" class= "animated fadeInDown delay-3s" id="portfolioButton">portfolio</a>
            <a href="/contact" class= "animated fadeInDown delay-4s" id="contactButton">contact</a>
            </nav>
    </header>


    <footer>
        <p>mother fuckers</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>


</body>

</html>
