<div id="portInfo" class="container">
    <div class="row">
        <div class="col-6">
            <img src="/images/crycoll.jpg" alt="crystal collector game" class="webImg">
            <img src="/images/trivia.jpg" alt="The Office trivia game" class="webImg">
        </div>
        <div class="col-6">
            <img src="/images/trains.jpg" alt="train simulator" class="webImg">
        </div>
    </div>
</div>